<nav class="navbar custom-navbar">
  <div class="container-fluid">
    <!-- Title -->
    <div  class="d-flex align-items-center">
      
      <span class="navbar-brand h1 title">{{ title }}</span>
    </div>
    <div class="d-flex nav-links">
      <span class="navbar-brand h1">
        <a *ngIf="ShowExamLink" routerLink="/home" class="nav-link">Home</a>
      </span>
      <span class="navbar-brand h1">
        <a *ngIf="ShowExamLink" routerLink="/exam" class="nav-link">Exam</a>
      </span>
      <span class="navbar-brand h1">
        <a *ngIf="ShowExamLink" routerLink="/repository" class="nav-link">Repository</a>
      </span>
      <span class="navbar-brand h1">
        <a *ngIf="ShowExamLink" routerLink="/favorite-note" class="nav-link">Favorite Note</a>
      </span>
      <span class="navbar-brand h1">
        <a *ngIf="ShowExamLink" routerLink="/rank-list" class="nav-link">Rank List</a>
      </span>
      <span class="navbar-brand h1">
        <a *ngIf="ShowExamLink" routerLink="/rank-list" class="nav-link" >Video lecturer</a>
      </span>
    </div>

    <!-- Buttons -->
    <div>
      <button *ngIf="showLogoutButton" class="btn btn-danger" (click)="logout()">Logout</button>
      <span style="margin-left: 20px;">
      <svg
      class="navbar-icon"  
      xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 448 512" 
      width="30" 
      height="30" 
      style="margin-right: 10px; fill: white;"
      ><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
     </span>
    </div>
  </div>
</nav>
