<nav class="navbar custom-navbar">
  <div class="container-fluid">
    <!-- Title -->
    <span class="navbar-brand h1 title">{{ title }}</span>
    <span class="navbar-brand h1">
      <a  *ngIf="ShowExamLink" routerLink="/home" class="nav-link">Home</a>
    </span>
    <span class="navbar-brand h1">
      <a  *ngIf="ShowExamLink" routerLink="/exam" class="nav-link">Exam</a>
    </span>
    <span class="navbar-brand h1">
      <a  *ngIf="ShowExamLink" routerLink="/exam" class="nav-link">Repository</a>
    </span>
    <span class="navbar-brand h1">
      <a  *ngIf="ShowExamLink" routerLink="/exam" class="nav-link">FavirouteNote</a>
    </span>
    <span class="navbar-brand h1">
      <a  *ngIf="ShowExamLink" routerLink="/exam" class="nav-link">Rank List</a>
    </span>

    <!-- Buttons -->
    <div>
      <button *ngIf="showLogoutButton" class="btn btn-danger">Logout</button>
      <button *ngIf="showExamButtons" class="btn btn-success me-2">Exam Start</button>
      <button *ngIf="showExamButtons" class="btn btn-danger">Exam End</button>
    </div>
  </div>
</nav>
